<ng-container *ngIf="questions$ | async as chapters">
  <div *ngFor="let chapter of chapters" style="page-break-after: always">
    <h1 class="is-size-3">{{ chapter.chapter.name }}</h1>
    <div
      *ngFor="let question of chapter.questions; let i = index"
      style="page-break-inside: avoid"
    >
      <p>
        {{ i + 1 }}.
        <span [innerHTML]="question.questionText | marked: true"></span>
      </p>
      <ul>
        <li *ngFor="let choice of question.choices; let j = index">
          {{ j + 1 }}.
          <span [innerHTML]="choice.choiceText | marked: true"></span>
        </li>
      </ul>
      <br />
    </div>
  </div>
</ng-container>
