<h1 class="is-size-1">แก้ไขสิทธิ์</h1>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>UID</th>
      <th>Display Name</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let role of roles$ | async">
      <ng-container
        *ngIf="role.$uid === editingRoleUid; else notEditing"
        [formGroup]="editRoleForm"
      >
        <td>{{ role.$uid }}</td>
        <td>{{ role.displayName }}</td>
        <td>{{ role.email }}</td>
        <td>
          <input type="text" formControlName="roles" class="input" />
        </td>
        <td>
          <button class="button is-success" (click)="updateRole()">
            บันทึก
          </button>
        </td>
      </ng-container>
      <ng-template #notEditing>
        <td>{{ role.$uid }}</td>
        <td>{{ role.displayName }}</td>
        <td>{{ role.email }}</td>
        <td>{{ role.roles }}</td>
        <td>
          <button
            class="button is-warning"
            (click)="editRole(role)"
            [disabled]="editingRoleUid !== null"
          >
            แก้ไขสิทธิ์
          </button>
          <button class="button is-danger" (click)="deleteRole(role)">
            ลบสิทธิ์
          </button>
        </td>
      </ng-template>
    </tr>
    <tr [formGroup]="newRoleForm">
      <td>
        <input class="input" type="text" formControlName="uid" />
      </td>
      <td></td>
      <td></td>
      <td>
        <input class="input" type="text" formControlName="roles" />
      </td>
      <td>
        <button class="button is-success" (click)="createRole()">
          Create Role
        </button>
      </td>
    </tr>
  </tbody>
</table>
