<h1 class="is-size-1">
  {{ (chapter$ | async)?.name }}
</h1>
<h2 class="is-size-2">
  {{ (course$ | async)?.code }}: {{ (course$ | async)?.abbr }}
</h2>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>เวลาเริ่มทำ</th>
      <th>แก้ไขล่าสุด</th>
      <th>ทำแล้ว</th>
      <th>คะแนน</th>
      <th>การดำเนินการ</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let response of responses$ | async">
      <td>{{ response.createdAt }}</td>
      <td>{{ response.updatedAt }}</td>
      <td>{{ response.done }}/{{ response.totalScore }}</td>
      <td>{{ response.score }}/{{ response.totalScore }}</td>
      <td>
        <button class="button is-info" [routerLink]="[response.$key]">
          แก้ไข
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="button is-success" (click)="newResponse()">New Response</button>
