<h1 class="is-size-1">
  {{ (chapter$ | async)?.name }}
</h1>
<h2 class="is-size-2">
  {{ (course$ | async)?.code }}: {{ (course$ | async)?.abbr }}
</h2>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>ข้อ</th>
      <th>โจทย์</th>
      <th>การดำเนินการ</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let question of questions$ | async;
        let i = index;
        trackBy: questionKey
      "
    >
      <td>{{ i + 1 }}</td>
      <td [innerHTML]="getQuestionGist(question) | marked"></td>
      <td>
        <button class="button is-danger">ลบ</button>
        <button class="button is-info" [routerLink]="[question.$key, 'edit']">
          แก้ไขโจทย์
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="button is-success" [routerLink]="['new']">เพิ่มโจทย์</button>
