<form [formGroup]="questionForm">
  <div class="field">
    <label class="label">เนื้อหาโจทย์</label>
    <div class="control">
      <textarea formControlName="questionText" class="textarea"></textarea>
    </div>
  </div>
  <ng-container formArrayName="choices">
    <div
      class="field is-horizontal"
      *ngFor="let choice of choices.controls; index as i"
      [formGroupName]="i"
    >
      <div class="field-label">
        <label class="label">ตัวเลือกที่ {{ i + 1 }}</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <div class="control is-expanded">
            <input type="text" formControlName="choiceText" class="input" />
          </div>
          <div class="control">
            <input type="checkbox" formControlName="correct" class="checkbox" />
            ตัวเลือกนี้ถูกต้อง
          </div>
          <div class="control">
            <button
              class="button is-danger"
              (click)="removeChoice(i)"
              [disabled]="this.questionForm.disabled"
            >
              ลบ
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="field">
    <div class="control">
      <button
        class="button is-info"
        (click)="addChoice()"
        [disabled]="this.questionForm.disabled"
      >
        เพิ่มตัวเลือก
      </button>
    </div>
  </div>
  <div class="field">
    <label class="label">เฉลย</label>
    <div class="control">
      <textarea formControlName="keyText" class="textarea"></textarea>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button
        class="button is-success"
        (click)="save()"
        [disabled]="!this.questionForm.valid"
      >
        บันทึก
      </button>
    </div>
  </div>
</form>
<h2 class="is-size-2">แสดงตัวอย่าง</h2>
<div [innerHTML]="this.questionForm.value.questionText | marked"></div>
<ol>
  <li
    *ngFor="let choice of this.questionForm.value.choices"
    [innerHTML]="choice.choiceText | marked"
  ></li>
</ol>
<h3 class="is-size-3">เฉลย</h3>
<div [innerHTML]="this.questionForm.value.keyText"></div>
