<h1 class="is-size-1">แก้ไขโจทย์</h1>
<ng-container [ngSwitch]="(question$ | async)?.type">
  <div *ngSwitchCase="'mcq'">
    <ac-mcq-question-editor
      [question]="question$ | async"
      (update)="update($event)"
    ></ac-mcq-question-editor>
  </div>
  <div *ngSwitchDefault>Invalid Question Type</div>
</ng-container>

<h2 class="is-size-2">เพิ่มรูป</h2>
<div class="field is-grouped">
  <div class="file has-name">
    <label class="file-label">
      <input class="file-input" type="file" (change)="onFileSelect($event)" />
      <span class="file-cta">
        <span class="file-label"> เลือกไฟล์ </span>
      </span>
      <span class="file-name">
        {{ selectedFileName }}
      </span>
    </label>
  </div>
  <div class="control">
    <button
      class="button is-success"
      [disabled]="!fileValid || uploading"
      (click)="upload()"
      [class.is-loading]="uploading"
    >
      อัพโหลด
    </button>
  </div>
</div>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>รูป</th>
      <th>การดำเนินการ</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let qImage of questionImages$ | async">
      <td>
        <img [src]="qImage.imageUrl" />
      </td>
      <td>
        <button class="button is-info" (click)="copyUrl(qImage)">
          คัดลอก URL รูป
        </button>
        <button class="button is-danger" (click)="deleteImage(qImage)">
          ลบรูป
        </button>
      </td>
    </tr>
    <tr *ngFor="let qImage of newQuestionImages">
      <td>
        <figure class="image">
          <img [src]="qImage.imageUrl" />
        </figure>
      </td>
      <td>
        <button class="button is-info" (click)="copyUrl(qImage)">
          คัดลอก URL รูป
        </button>
        <button class="button is-danger" (click)="deleteImage(qImage)">
          ลบรูป
        </button>
      </td>
    </tr>
  </tbody>
</table>
