<h1 class="is-size-1">รายวิชาทั้งหมด</h1>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>รายวิชา</th>
      <th>การดำเนินการ</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses$ | async">
      <td>
        {{ course.code }} <br />{{ course.nameTH }} <br />{{ course.nameEN }}
        <br />{{ course.abbr }}
      </td>
      <td>
        <button class="button is-info" [routerLink]="[course.$key]">
          ทำโจทย์
        </button>
      </td>
    </tr>
  </tbody>
</table>
