<h1 class="is-size-1">หน้าผู้ดูแล</h1>
<ul>
  <ng-template acRole let-role>
    <li *ngIf="(role | async)?.indexOf('admin') !== -1">
      <a routerLink="roles">Role Management</a>
    </li>
    <li *ngIf="(role | async)?.indexOf('editor') !== -1">
      <a routerLink="questions">Question Management</a>
    </li>
  </ng-template>
</ul>
