<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item">ACcumulate</a>
    <div
      class="navbar-burger"
      [class.is-active]="burgerStatus"
      (click)="toggleBurger()"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <ng-container *ngIf="user$ | async as user">
        <ng-container *ngIf="user.loaded; else notLoaded">
          <span *ngIf="user.user; then signedIn; else notSignedIn"></span>
        </ng-container>
      </ng-container>
      <ng-template let-user #signedIn>
        <div class="navbar-item">สวัสดี {{ user.displayName }}</div>
        <a class="navbar-item" (click)="signOut()">ออกจากระบบ</a>
      </ng-template>
      <ng-template #notSignedIn>
        <a class="navbar-item" (click)="signIn()">เข้าสู่ระบบ</a>
      </ng-template>
      <ng-template #notLoaded>
        <div class="navbar-item">กรุณารอสักครู่</div>
      </ng-template>
    </div>
  </div>
</nav>
