<h1 class="is-size-1">
  {{ (chapter$ | async)?.name }}
</h1>
<h2 class="is-size-2">
  {{ (course$ | async)?.code }}: {{ (course$ | async)?.abbr }}
</h2>
<div *ngFor="let question of questions$ | async">
  <ng-container [ngSwitch]="question.type">
    <div *ngSwitchCase="'mcq'">
      <ac-mcq-question
        [question]="question"
        [questionResponse]="(questionResponses$ | async)[question.$key]"
        [courseKey]="courseKey$ | async"
        [chapterKey]="chapterKey$ | async"
        [responseKey]="responseKey$ | async"
      ></ac-mcq-question>
    </div>
    <div *ngSwitchDefault>Invalid Question Type</div>
  </ng-container>
</div>
