<h1 class="is-size-1">รายวิชาทั้งหมด</h1>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>รหัสรายวิชา</th>
      <th>ชื่อรายวิชา</th>
      <th>Course Name</th>
      <th>ชื่อย่อรายวิชา</th>
      <th>การดำเนินการ</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses$ | async">
      <ng-container
        *ngIf="course.$key === editingCourseKey; else notEditing"
        [formGroup]="editingForm"
      >
        <td>
          <input type="text" class="input" formControlName="code" />
        </td>
        <td>
          <input type="text" class="input" formControlName="nameTH" />
        </td>
        <td>
          <input type="text" class="input" formControlName="nameEN" />
        </td>
        <td>
          <input type="text" class="input" formControlName="abbr" />
        </td>
        <td>
          <button class="button is-info" (click)="updateCourse(course.$key)">
            บันทึก
          </button>
        </td>
      </ng-container>
      <ng-template #notEditing>
        <td>{{ course.code }}</td>
        <td>{{ course.nameTH }}</td>
        <td>{{ course.nameEN }}</td>
        <td>{{ course.abbr }}</td>
        <td>
          <button class="button is-danger" (click)="removeCourse(course.$key)">
            ลบ
          </button>
          <button
            class="button is-warning"
            (click)="editCourse(course.$key, course)"
            [disabled]="editingCourseKey !== null"
          >
            แก้ไขข้อมูลรายวิชา
          </button>
          <button class="button is-info" [routerLink]="[course.$key]">
            แก้ไขโจทย์
          </button>
        </td>
      </ng-template>
    </tr>
    <tr>
      <ng-container [formGroup]="newForm">
        <td>
          <input type="text" class="input" formControlName="code" />
        </td>
        <td>
          <input type="text" class="input" formControlName="nameTH" />
        </td>
        <td>
          <input type="text" class="input" formControlName="nameEN" />
        </td>
        <td>
          <input type="text" class="input" formControlName="abbr" />
        </td>
        <td>
          <button class="button is-success" (click)="createCourse()">
            สร้างรายวิชาใหม่
          </button>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<h2 class="is-size-2">รายงานเฉลยผิด</h2>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>รายงาน</th>
      <th>ผู้รายงาน</th>
      <th>Email</th>
      <th>ไปที่โจทย์</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let report of reports$ | async">
      <td>{{ report.report }}</td>
      <td>{{ report.author.name }}</td>
      <td>{{ report.author.email }}</td>
      <td>
        <a
          [routerLink]="[
            report.courseKey,
            report.chapterKey,
            report.questionKey,
            'edit'
          ]"
          >ไปที่โจทย์</a
        >
      </td>
    </tr>
  </tbody>
</table>
