<h1 class="is-size-1 text-center">ACcumulate
  <sup>version 2.0</sup>
</h1>
<ng-container *ngIf="user$ | async as user">
  <ng-container *ngIf="user.loaded; else notLoaded">
    <div class="text-center" *ngIf="user.user; else notSignedIn">
      <a [routerLink]="['/', 'main', 'courses']" class="button is-link">ทำโจทย์</a>
      <ng-template acRole let-role>
        <a class="button is-link" [routerLink]="['/', 'manage']" *ngIf="(role | async)?.indexOf('admin') !== -1 || (role | async)?.indexOf('editor') !== -1">แก้ไขคำถาม</a>
      </ng-template>
    </div>
  </ng-container>
</ng-container>
<ng-template #notLoaded>
  <h2 class="is-size-2 text-center">กรุณารอสักครู่</h2>
</ng-template>
<ng-template #notSignedIn>
  <div class="text-center">
    <button class="button is-primary" (click)="signIn()">เข้าสู่ระบบ</button>
  </div>
</ng-template>
