@import url('https://fonts.googleapis.com/css?family=Roboto|Trirong');
@import '../node_modules/bulma/sass/utilities/initial-variables';

$family-sans-serif: 'Roboto', 'Trirong', sans-serif;

@import '../node_modules/bulma/bulma';

.text-center {
  text-align: center;
}
