<div [innerHTML]="question.questionText | marked"></div>
<br />
<div class="control" *ngFor="let choice of question.choices; index as i">
  <label class="radio" *ngIf="!questionResponse; else answered">
    <input
      type="radio"
      class="radio"
      [formControl]="answerForm"
      [value]="i"
      [name]="question.$key"
    />
    {{ choice.choiceText }}
    <!-- TODO: use innerHTML somehow -->
  </label>
  <ng-template #answered>
    <div>
      <i
        class="far"
        [class.fa-square]="questionResponse.answer !== i"
        [class.fa-check-square]="questionResponse.answer === i"
      ></i>
      {{ choice.choiceText }}
      <!-- TODO: use innerHTML somehow -->
      <span class="has-text-success" *ngIf="question.choices[i].correct">
        <i class="fas fa-check"></i>
      </span>
    </div>
  </ng-template>
</div>
<ng-container *ngIf="!questionResponse; else key">
  <button class="button is-success" (click)="submit()">Submit</button>
  <button class="button is-warning" (click)="iDontKnow()">I don't know</button>
</ng-container>
<ng-template #key>
  <h3 class="is-size-3">เฉลย</h3>
  <div [innerHTML]="question.keyText"></div>
  <button class="button is-danger" (click)="report()">ฉันคิดว่าเฉลยผิด</button>
</ng-template>
<ng-container *ngIf="reporting">
  <div class="field">
    <label class="label">รายงานเฉลยผิด</label>
    <div class="control">
      <textarea [formControl]="reportingForm" class="textarea"></textarea>
    </div>
  </div>
  <button class="button is-danger" (click)="sendReport()">ส่งรายงาน</button>
</ng-container>
<br />
<br />
